<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EscuelaApp | Tismart </title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>
<body>
	<header th:insert="fragments/menu :: menu-principal"></header>
	
	
	
	 <section>
      <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
				<div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div id="menu" class="card">
              <a href="#" class="btn btn-warning" >INGRESAR</a>&nbsp;
              <a href="#" class="btn btn-warning" >MODIFICAR</a>&nbsp;
              <a href="#" class="btn btn-warning" >ELIMINAR</a>&nbsp;
              <a href="#" class="btn btn-warning" >BUSCAR</a>&nbsp;
              
            </div>
          </div>
          <!--  ************************************************************************ -->
          <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
            <div id="logo" >
              <a href="#" >
              <img
                src="/images/tismart.JPG"
                 
                   class="card-img-top"
                alt="..."
              />
            </a>
              
            </div>
          </div>	
				
				
		</div>
      </div>
    </section>
	 <footer th:insert="fragments/footer :: pie-pagina" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>